.form {
    position:absolute;
    top:50%;
    left:50%;
    margin:-167px 0 0 -214px;
}

.show {
    background-color: black;
    color:white;
}

.table {
    position:absolute;
    top:55%;
    left:42%;
    margin:-150px 0 0 -200px;
}

.age {
    text-align: right;
}

.button {
    border-color: blue;
    border-width: 1px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
}
.download {
    margin: 137px 328px 0 0;
    float: right;
}
